/* body{
    background-image: url(../images/un.jpg);
    background-size: cover;
}
.page {
    text-align: center;
}
.page h1{
    font-size: 48px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 100px;
}
@media (max-width: 767px) {
    .page h1 {
        font-size: 30px;
    }
}
.page form {
    width: 450px;
    height: 340px;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    position: relative;
}
@media (max-width: 767px) {
    .page form {
        width: 75%;
    }
}
.page form::before{
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 0px;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: -1;
}
.page form img{
    width: 186px;
    margin: -70px -10px 25px 40px;
    margin-bottom: 10px;
}
.page form input {
    padding: 8px 0px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
}
.page form input:focus {
    outline: none;
}
.page form .icon{
    font-size: 20px;
    position: absolute;
    z-index: 1;
    right: 60px;
}
.admin{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    color: #1B2351;
    text-transform: capitalize;
}
.page form a{
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    font-size: 18px;
    color: #1B2351;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
}
.page form a:hover{
    color: rgb(17, 0, 255);
    border-bottom: 1px solid rgb(17, 0, 255);
}
.page form button {
    width: 198px;
    height: 54px;
    background-color: #1b2351eb;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    margin-top: 19px;
    margin-left: -9px;
    transition: 0.5s;
    cursor: pointer;
}
.page form button:hover {
    background-color: #1B2351;
}
.page form .link {
    display: flex;
    align-items: center;
    justify-content: center;
} */
